:root {
  /* Colors */
  --primary: #dfff00;
  --bg-main: #121212;
  --bg-surface: #1e1e1e;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;

  /* Typography */
  --font-heading: "Inter", sans-serif;
  --font-body: "JetBrains Mono", monospace;
  --fs-body: 1rem; /* 16px */
  --fs-big: 2rem; /* 32px */
  --fs-small: 0.875rem; /* 14px */

  /* Spacing  */
  --section-gap: 7.5rem; /* Space between sections */
}

/*GLOBAL STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-body);
  font-size: var(--fs-body);
  width: 100%;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 800;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
.muted {
  color: var(--text-muted);
}
.img-container {
  width: min(300px, 100%);
  overflow: hidden;
  border-radius: 2rem;
}
.img-container img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.fs-big {
  font-size: var(--fs-big);
}
.fs-small {
  font-size: 1.5rem;
}
.center-text {
  text-align: center;
}
.hidden {
  display: none;
}

/*GLOBAL STYLES*/

/* HEADER AND NAV */
.header-container {
  background-color: var(--bg-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 15vh;
  padding: 0 1rem;
}
.nav-links ul {
  display: flex;
  gap: 1rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: underline;
  color: #ffffff;
}

/* HERO SECTION */
.hero {
  background-image: url("./imgs/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  gap: 1.5rem;
}
.hero h2 {
  color: #ffffffc0;
}
.hero a {
  color: var(--primary);
  font-size: 1.2rem;
}
.hero .cta-btn:hover {
  color: var(--bg-main);
  text-decoration: none;
}
/* STATS SECTION FLEXBOX */
.container-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid white;
}

/* EVENTS SECTION */
#events {
  margin: var(--section-gap) auto;
  background-color: var(--bg-surface);
  padding: 1.5rem;
  max-width: 1200px;
}

#events h2,
#events h3,
#events p {
  text-align: left;
}

#events h3 {
  margin-bottom: 2rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.reserve-cta {
  padding: 0.7rem;
  border: 1px solid #ccc;
  width: fit-content;
  cursor: pointer;
  margin-top: auto;
}
.reserve-cta:hover {
  background-color: #a0a0a0;
  color: #121212;
}

.container > div {
  display: flex;
  flex-direction: column;
}

/* GALLERY GRID SECTION */
#vibe {
  background-color: var(--bg-surface);
  width: min(1200px, 70%);
  margin: 0 auto 7.5rem auto;
  padding: 1.5rem;
}
#vibe h2 {
  margin-bottom: 1rem;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  background-color: var(--bg-surface);
  gap: 1rem;
}
.gallery-item1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
}
.gallery-item4 {
  grid-column: 4 / 9;
  grid-row: 1 / span 3;
}

.gallery-item2 {
  grid-column: 4 / 6;
  grid-row: 4 / 6;
}

.gallery-item3 {
  grid-column: 6 / 9;
  grid-row: 4 / span 2;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  overflow: hidden;
  border-radius: 2rem;
}

footer {
  background-color: var(--bg-surface);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

input.btn {
  padding: 0.5rem;
  border-radius: 2rem;
}
input[type="email"] {
  padding: 0.5rem;
  border-radius: 2rem;
}

/* MEDIA QUERIES */

/* MOBILE L */
@media screen and (max-width: 525px) {
  html {
    font-size: 12px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .container > div {
    display: flex;
    flex-direction: column;
  }
  .gallery-grid {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }
  #vibe {
    width: min(1200px, 90%);
  }
}
@media screen and (max-width: 700px) {
  form {
    display: none;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hidden {
    display: block;
  }
  .hidden .cta-btn {
    color: var(--primary);
  }
}
